<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.tellers' | translate}}</li>
        <li class="active">{{'label.anchor.cashiers' | translate}}</li>
        <li class="active">{{'label.anchor.cashiertransactions' | translate}}</li>
    </ul>
</div>

<div class="col-md-12" ng-controller="CashierTransactionsController">
    <div class="pull-right">
        <button id="allocate" type="submit" class="btn btn-success" has-permission='ALLOCATECASHIER_TELLER'
                                data-ng-click="routeToAllocate()">
            <i class="icon-level-down icon-white">{{'label.button.cashier.allocatefunds' | translate}}</i>


        <button id="settle" type="submit" class="btn btn-warning" has-permission='SETTLECASHFROMCASHIER_TELLER'
                                data-ng-click="routeToSettle()">
            <i class="icon-level-up icon-white">{{'label.button.cashier.settlefunds' | translate}}</i>
        </button>
        
    </div>
    <div class="clear"></div>
    <div ng-hide="isTreeView">
    	<input ng-autofocus="true" ng-model="filterText" type="text" class="form-control span marginbottom0px"
           placeholder="{{'label.input.filterbynameexternalid' | translate}}">
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.cashmgmt.cashier.txnDate' | translate}}</th>
                <th>{{'label.heading.cashmgmt.cashier.txnType' | translate}}</th>
                <th>{{'label.heading.cashmgmt.cashier.txnAmount' | translate}}</th>
                <th>{{'label.heading.cashmgmt.cashier.txnDetails' | translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="txn in cashiertxns| orderBy:'txn.txnDate' | orderBy:'id'  | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(txn.id)">{{txn.txnDate | DateFormat}}</td>
                <td class="pointer" data-ng-click="routeTo(txn.id)">{{txn.txnType.value}}</td>
                <td class="pointer" data-ng-click="routeTo(txn.id)">{{txn.txnAmount}}</td>
                <td class="pointer" data-ng-click="routeTo(txn.id)">{{txn.txnNote}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
